* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 15% 75% 10%;
}


ul {
    list-style-type: none;
}

.center {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    display: flex;
    height: 100%;
    justify-content: space-between;
    background-color: #110918;
}

.header-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.header-item a img {
    height: 100%;
}

.not-logo {
    height: 80%;
    width: 7rem;
    align-self: center;
}

.not-logo a {
    color: #66FCF1;
    font-size: 2rem;
}

.not-logo a:hover {
    text-decoration: underline;
    font-size: 2.25rem;
}

/* MAIN */

.main {
    height: 100%;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main a {
    color: white;
    border: 5px solid #66FCF1;
    padding: 2rem;
    font-size: 2rem;
}

.main a:hover {
    background-color: #64c0ba;
    font-size: 2.25rem
}

/* FOOTER */

.footer-list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2833;
}

.footer-list {
    font-size: 1.5rem;
    color: #66FCF1;
}

.footer-list a {
    color: #66FCF1;
}

.footer-list a:hover {
    text-decoration: underline;
    font-size: 1.75rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .not-logo a {
        font-size: 1.5rem;
    }

    .not-logo a:hover {
        font-size: 1.75rem;
    }

    .footer-list a {
        font-size: 1rem;
    }

    .footer-list a:hover {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 375px) {
    .header-item a img {
        display: none;
    }

    .header-list {
        width: 25%;
    }

    .header-list:nth-child(2) {
        width: 75%;
    }
}